<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>

<body>
    <h1>Rendered from EJS view!</h1>
    <ul>
        <% for (const iterator of contact_list) { %>
        <li>
            <p>
                Name :
                <%=iterator.name %>
            </p>
            <p>
                Phone :
                <%= iterator.phone  %>
            </p>
        </li>
        <% } %>
    </ul>
</body>

</html>